<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for course in course %}
    <h1>{{course.Name}}</h1>
    <h1>{{course.Desc}}</h1>
    <a href="{% url 'video' course.id %}">ViewVideo</a>
    <a href="{% url 'enroll' course.id  %}">Enroll For this Course</a>
    <br>
    {% endfor %}
    

</body>
</html>
