<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Hello!!<br>
    <a href ="{% url 'profile_view' %}">View Profile</a>
    <a href="{% url  'course_list' %}">View Courses</a>
    <a href="{% url 'Mycourses' %}">MyCourses</a>
    {% if flag == 0 %}
    <a href="{% url 'tutor' %}">Create Course,Become a tutor Now</a>
    {% endif %}
    {% if flag == 1 %}
    <a href="{% url 'publish' %}">Publish Course</a>
    <a href="{% url 'myPublication' %}">View Courses You have created</a>
    {% endif %}

</body>
</html>