<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    
    <a href="{% url 'add_video'  %}">Add Video</a>
 
</head>

<body>
    <br>
    {% if flag == 0 %}
    <h1>No Video Published Yet</h1>
    
    {% endif %}
    {% for video in video %}
    <a href="{{video.Video_Link}}">{{video.Video_Link}}</a>
    
    
   
  
    <a href="{% url 'problem_publish' video.id  %}">Add Practice Problem</a>

    
    
   <br>
   <br>
    {% endfor %}
</body>
</html>